@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/Fontawesome.otf');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
	
.line {margin-left:10%;margin-top:5px; width:80%; color:#999999}

.line2 
{
    margin-left:5%;
    margin-top:5px; 
    width:90%; 
    height:1px;
    color:#e6e6e6;
}
.line3 {margin-top:5px; width:100%; color:#999999}
.background {background: #c8e1f0;margin-top: 0px;margin-left: 0px;}
.header {width:100%;position:fixed;background: #68bde1;height:40px;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#68bde1), to(#c8e1f0));z-index:3;}
.headbody{width:1100px;margin: auto;position:relative;height:40px}
    .logo {font-family:"华文隶书";font-size:40px;margin-top:0px;float:left;width:140px;padding-left:30px;}
    .logoText{padding:0px 0px 0px 0px;height:40px;margin:0px;}
    .head_list {width:480px;font-family:"Times New Roman";font-size:18px;margin-left:30px;height:30px;padding-top:10px;float:left;position: relative}
    .head_item {float:left;position: relative;width:59px;font-size:20px;padding-left:50px;padding-right:50px;text-align:center;border-right-width: 1px;border-right-style: solid;border-color: #e6e6e6;}
    .head_item_noright {float:left;position: relative;width:59px;font-size:20px;padding-left:50px;padding-right:50px;text-align:center;}
    .head_search {float:left;position: relative;width:250px;margin-left:30px;padding-top:4px;}
    .wrapper {top:50px;width:1100px; margin: auto;position:relative;height:610px;z-index:2;}
     .userInfo_box {width: 63%;height:600px; background:#fefefe;border: 2px solid #a0b4c1;float:left; border-radius: 10px; margin-left:2%; margin-bottom:30px;}
    .left_column {float:left;position: relative;width:175px;background: #f0f0f0;height:590px;}
    .left_item{padding-left:2em;margin-top:20px;margin-bottom:20px;font-family:"微软雅黑"}
    .right_item{margin-top:5px;height:auto;}
    .middle_column {float:left;position:relative;width:700px;margin-left:8px;background: #f8f8f8;padding-top:10px}
    .right_column {float:left;position: relative;width:200px;margin-left:10px;background: #f4f4f4;height:580px;padding:0px;padding-top:20px;}
    .person_info{position: relative;height:80px;margin-left:20px;margin-right:20px;}
    .person_data{position: relative;margin:20px;padding:0px;list-style-type:none;color: #333}
    .data_li{position: relative;float: left;margin-right:10px;padding-right:5px;border-right-width: 1px;border-right-style: solid;border-color: #e6e6e6;}
    .data_li_noright{position: relative;float: left;margin-right:10px;padding-right:5px;}
    .person_img{position: relative;width:80px;height:80px;float:left;margin-right:10px;}
    .person_nickname{position: relative;padding-top:20px;padding-left:2px;font-size: 12px;}
    .person_data_number{font-size: 20px;margin-bottom:5px;font-family: tahoma;color: #333;font-weight:600; position:relative;}
    .person_data_name{font-size: 14px;color: #333; position:relative;}
    .person_potrait_img{position: relative;width:80px;height:80px;}
     a {text-decoration: none;}
     a:link {color: #000000}
     a:hover {color: blue}

.left_item_a
{
    height:20px;
    width:143px;
    margin-bottom:20px;
    color:black;
}

.left_item_word
{
    font-size:16px;
    color:black;
}

.icon
{
    margin-right:10px;
    float:left;
    font-size:20px;
    width:20px;
    color:black;
}


.right_item_a
{
    position:relative;
    color: #fefefe;
    width:28px;
    height:45px;
    display: block;
}
	 
	 
	 .send_MeeBo_Box {width:100%;padding-top: 5px;position:relative;margin-bottom:20px;}

.send_title
{
    width:40%; 
    font-family:"Times New Roman"; 
    font-size:10px;
    float:left;
    padding-left:4em;
}

.home_send_title
{
    width:250px; 
    height:26px;
    float:left;
    margin-left:50px;
    background-image:url('../../image/news.png');
    background-repeat:no-repeat;
}

.home_send_top
{
    width:100%; 
    height:26px;
    margin-bottom:15px;
}

.send_hot
{
    padding-top:10px;
    width:40%;
    font-family:"Times New Roman"; 
    font-size:10px;
    float:right;
    padding-left:1em
}
        .send_box { width:90%;margin:auto;}
.MeeBo_Box
{ 
    width:630px;
    margin-left: 35px;
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
}

.single_MeeBo
{
    width:100%;
    position:relative;
    overflow:auto;
    padding-bottom:15px;
    margin-top:15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color:#e6e6e6;
}
        .MeeBo_user{ width:70px;float:left}
        .head_potrait{ width:50px;}
        .MeeBo_content{width:560px;float:left;position:relative}

.user_id
{
    width:100%;
    height:20px;
    color:blue;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
        .potrait_img {width: 50px;height: 50px;}
.text_content
{
    width:100%;
    height:20px;
    margin-bottom:5px;
    font-size: 14px;
    line-height: 23px;
    padding-bottom:15px;
    font-family: Arial, Helvetica, sans-serif;
}
        .picture_content {width:100%;position:relative;margin-bottom:5px }
        .MeeBo_img{width:75px;height:75px;float:left;margin-right:5px }
        .MeeBo_detail{width:100%;position:relative;margin-bottom:5px;font-size:10px;}
        .detail-font{color:blue;font-size:10px;}

.MeeBo_time
{
    float:left;
    width:40%;
    margin-bottom:10px;
    color: #6cbae4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}

.CTA{
    float:right;
    margin-bottom:10px;
    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0a8cd2;
}
        .picture_view{position:relative;width:500px;margin:auto}
        .single_pic_view{float:left;width:50px;height:50px;margin-left:25px;margin-right:25px}

.strongPage
{
    color:red;
}

.middle_title
{
    border-bottom-color:red;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 32px;
    line-height: 13px;
    list-style-type: disc;
    width: 630px;
    margin:10px;
    margin-bottom:20px;
    margin-left: 35px;
}

.middle_title_text
{
    padding-right:10px;
    padding-left:10px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    margin:0px;
}

.middle_title_bottom​
{
    position: relative;
    top: 2px;
    background-color: #fafafa;
    width: 44px;
    height: 8px;
    margin-top: -6px;
    background-image:url('../../image/icon.png');
    background-position-x: -500px;
    background-position-y: -75px;
}

.MeeBo_detail_item
{
    float:left;
    position:relative;
    border-right-width: 1px;
    border-right-style:solid;
    border-color:#aeaeae;
    padding-left:10px;
    padding-right:10px;
}

.item_no_border
{
    border-right-width: 0px;
}

 .trans_MeeBo{position:relative;width:630px;overflow:hidden;border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom:15px;
    border-color: #e6e6e6;margin-top:15px}

        .trans_user_head{width:70px;float:left}
        .trans_content{width:560px;float:left}
        .trans_userid{width:100%;
    height:20px;
    color:blue;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;}
.trans_com{width:100%;font-size:12px;margin-bottom:5px}
.origin_content{float:left;position:relative;width:510px;border:1px solid #888888;margin:10px;padding:5px 15px;background: #fafafa;border-radius: 10px;margin-left:0px;}

.at_box {width:100%;margin-bottom:10px;}
.single_at
{
    width:80%;
    margin:auto;
    padding:10px 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color:#e6e6e6;
    margin-top: 15px;
    padding-bottom:15px;
    overflow:hidden;
}
        .at_a {text-decoration:underline;cursor:pointer;}
        .at_info{width:100%;position:relative}
        .at_head{width:60px;float:left}
        .head_img0{width:50px;height:50px}
        .at_content{width:500px;float:left}
        .who_at{width:100%}
        .at_what{width:100%;font-size:12px}
        .at_detail{width:100%;font-size:8px;text-align:right;margin-top:30px}

        .upper_message {width:650px;height:40px;font-size:10px;position:relative;padding-left:25px}
        .at_tips{width:40%;font-size:10px;float:left;padding:5px 5px;margin-left:5px;color:#888888}
         .news_box{width:40%;font-size:10px;float:right;text-align:right;padding:5px 5px;margin-right:5px}



          .Comment_Box {width:100%;margin:auto;margin-top:10px}
        .single_Comment{width:90%;margin:auto;position:relative;border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color:#e6e6e6;
    margin-top: 15px;
    padding-bottom:15px;
     overflow:hidden;
        }
        .Comment_user {width:60px;float:left;padding-top:5px}
        .Comment_img{width:40px;height:40px}
        .Comment_content {width:570px;float:left}
        .Comment_userID {width:100%;font-size:20px;}
        .Comment_text{width:100%;font-size:15px;color:#777777}
        .Comment_detail {width:100%;position:relative}
        .Comment_time{width:30%;float:left}
        .Comment_floor{width:30px;float:right}


         .choose{width:160px;float:left;font-size:8px}
        .queren{width:65px;float:right}
        