.search_box{width:700px;overflow:hidden;position:relative}
        .search_text_box{width:400px;float:left;margin-left:100px}
        .search_button_box{width:150px;float:left;margin-left:50px}
        .search_type{width:700px;height:30px;position:relative;padding-left:100px;margin-bottom:15px}
        .type_item{width:50px;margin-right:50px;float:left}
        .now_choose{font-family:"Î¢ÈíÑÅºÚ";color:red;font-size:20px}
        .no_choose{font-family:"Î¢ÈíÑÅºÚ";font-size:20px}
        .hot_topic_title{width:100%;padding-left:2em;height:20px;margin-top:30px;}
        .topic_container{width:80%;overflow:hidden;margin:auto;font-family:"Î¢ÈíÑÅºÚ";}
        .topic_box{width:100%;min-height:500px}
        .topic_item{width:100%;margin-top:20px;padding-left:4em}
        .trans_MeeBo{position:relative;width:630px;overflow:hidden;border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #e6e6e6;}
        .trans_user_head{width:70px;float:left}
        .trans_content{width:560px;float:left}
        .trans_userid{width:560px;font-size:15px;margin-bottom:5px}
        .trans_com{width:560px;font-size:12px;margin-bottom:5px}
        .origin_content{float:left;position:relative;width:500px;border:1px solid #888888;margin:10px 10px;padding:5px 15px;background: #fafafa;border-radius: 10px;}